/*STYLE SELECT BOX : https://fabriceleven.com/design/clever-way-to-change-the-drop-down-selector-arrow-icon/ */
/* Mise en page  générale du retrait des selectbox sur toutes les pages (publier, voir, suggestions .php) */  
.identifiants-select {
    position: relative;
}
.identifiants-select:after {
    content: '< >';
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.65em;
    font-weight: 600;
    color: black;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 1;

/*Adjust for position however you want*/
    position: absolute;
    right: 10px;
    top: 26px;
    border-bottom: 1px solid black;
}
#correction-padding {
    padding-left: 8px;
}

.identifiants-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    padding-right: 20px;
}


/* Mise en page du retrait sur la page publier.php */
@media only screen and (min-width: 500px)   {
    .identifiants-select:after {
        font-size: 0.7em;
        font-weight: 600;
        right: 11px;
        top: 29px;
    }
    .identifiants-select select {
        padding-right: 20px;
    }
    #correction-padding {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 652px)   {
    .identifiants-select:after {
        font-size: 0.75em;
        right: 39px;
        top: 28px;
    }
    .identifiants-select select {
        padding-right: 25px;
    }
}

@media only screen and (min-width: 700px)   {
    .identifiants-select:after {
        font-size: 0.9em;
        font-weight: 700;
        top: 0px;
        right: 30px;
        position: relative;
    }
    #correction-padding {
        padding-right: 15px;
    }
}
@media only screen and (min-width: 1000px)   {
    .identifiants-select:after {
        font-size: 1.05em;
        font-weight: 700;
        top: 0px;
        right: 35px;
        position: relative;
    }
}
/*
@media only screen and (min-width: 1086px)   {
    .identifiants-select:after {
        position: absolute;
        font-size: 1em;
        font-weight: 800;
        right: 160px;
        top: 31px;
    }
    .identifiants-select select {
        padding-right: 30px;
    }
    #correction-padding {
        padding-right: 0px;
    }
}
*/
/* Mise en page du retrait sur la page voir.php */
.retrait2:after {
    font-size: 0.7em;
    font-weight: 600;
    right: 2px;
    top: 37px;

    color: white;
    border-bottom: 1px solid white;
    z-index: 1!important;
}
.retrait2 select {
    padding-right: 20px;
}
.noWrap {
    white-space: nowrap;
}

@media only screen and (min-width: 700px)   {
    .retrait2:after {
        font-size: 0.8em;
        font-weight: 900;
        right: 0px;
        top: 45px;
        position: absolute;
        z-index: 1!important;
    }
    .retrait2 select {
        padding-right: 25px;
    }
}

@media only screen and (min-width: 1000px)   {
    .retrait2:after {
        font-size: 0.9em;
        font-weight: 900;
        right: 0px;
        top: 48px;
        z-index: 1!important;
    }
    .retrait2 select {
        padding-right: 30px;
    }
}

/* Mise en page du retrait sur la page suggestions.php*/
#correction2-padding:after {
    font-size: 0.7em;
    font-weight: 600;
    right: 9px;
    top: 23px;
}
@media only screen and (min-width: 320px)   {
    #correction2-padding:after {
        right: 10px;
        top: 26px;
    }
    #correction2-padding select {
        padding-right: 10px;
    } 
}
@media only screen and (min-width: 500px)   {
    #correction2-padding:after {
        font-size: 0.8em;
        font-weight: 600;
        right: 11px;
        top: 29px;
    }
}
@media only screen and (min-width: 652px)   {
    #correction2-padding:after {
        font-size: 0.8em;
        right: 37px;
        top: 29px;
    }
}
@media only screen and (min-width: 700px)   {
    #correction2-padding:after {
        font-size: 0.85em;
        right: 30px;
        top: 0px;
    }
    #correction2-padding {
        padding-left: 30px;
    }
}
@media only screen and (min-width: 1086px)   {
    #correction2-padding:after {
        font-size: 0.9em;
        right: 32px;
        top: 0px;
        position: relative;
    }
    #correction2-padding {
        padding-left: 32px;
    }
}